<div class="container">
    <mat-card>
        <mat-card-title>Cat facts generator</mat-card-title>
        <mat-card-content>
            <button class="w-25 generate-button" 
            mat-button mat-raised-button color="accent" (click)="generateFact('cat')" >
            Give new cat fact!
        </button>
        <button class="w-25 generate-button" 
        mat-button mat-raised-button color="accent" (click)="generateFact('dog')" >
        Give new dog fact!
    </button>
    <button class="w-25 generate-button" 
    mat-button mat-raised-button color="accent" (click)="generateFact('horse')" >
    Give new horse fact!
</button>
<button class="w-25 generate-button" 
mat-button mat-raised-button color="accent" (click)="generateFact('cat,dog,horse')" >
Give random fact!
</button>
            <div class="container" *ngIf="generatedFact != null">
                <div class="fact-content w-100">{{generatedFact?.type}}:</div>
                <div class="fact-content w-100">{{generatedFact?.text}}</div>
            </div>
            <div class="container" *ngIf="generatedFact == null">
                There is no fact generated, click "Give new fact!" to get one!
            </div>
        </mat-card-content>
    </mat-card>
</div>